<h1>Logueate</h1>

<form action="/session/login" method="post" >
    Email: <input type="text" name="email" /><br>
    Password: <input type="text" name="password" /><br>
    <input type="submit" value="Iniciar Sesión">   
</form>

