<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Restablecer contraseña</title>
</head>
<body>
  <h1>Restablecer contraseña</h1>
  <form action="/reset-password" method="POST">
    <input type="hidden" name="token" value="{{token}}">
    <label for="password">Nueva contraseña:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <label for="confirm-password">Confirmar contraseña:</label>
    <input type="password" name="confirmPassword" id="confirm-password" required>
    <br>
    <input type="submit" value="Restablecer contraseña">
  </form>
</body>
</html>
